In [1]:
num = 1
# print(num > 10)
if num > 10 :
    print(f"{num}은 10보다 큽니다.")

In [2]:
num = 11
# print(num > 10)
if num > 10 :
    print(f"{num}은 10보다 큽니다.")
print("if문에 종속되지 않은 실행문")

11은 10보다 큽니다.
if문에 종속되지 않은 실행문

In [3]:
weight = int(input("몸무게를 입력하세요"))
# 몸무게가 60이하라면 '치킨'을 출력
if weight <= 60 :
    print("치킨 드셔도 됩니다.")

몸무게를 입력하세요55
치킨 드셔도 됩니다.

In [4]:
weight = int(input("몸무게를 입력하세요"))
if weight >= 80 :
    print("운동 시작")

몸무게를 입력하세요85
운동 시작

In [5]:
weight = int(input("몸무게를 입력하세요"))
if weight == 70 :
    print("70kg 입니다.")

몸무게를 입력하세요70
70kg 입니다.

In [6]:
num_01 = int(input("첫번째 정수 입력: "))
num_02 = int(input("두번째 정수 입력: "))

if num_01 > num_02 :
    print("%d가 %d보다 크다"%(num_01, num_02))
if num_01 < num_02 :
    print("%d가 %d보다 작다"%(num_01, num_02))
if num_01 == num_02 :
    print("%d와 %d은 같다"%(num_01, num_02))

첫번째 정수 입력: 47
두번째 정수 입력: 15
47가 15보다 크다

In [9]:
num_01, num_02 = input("두개의 정수를 입력하세요 : ").split( ) # 띄어쓰기를 해서 값을 넣어야 한다. 
num_01 = int(num_01)
num_02 = int(num_02)
print(num_01, num_02)

두개의 정수를 입력하세요 : 10 77
10 77

In [11]:
num_01, num_02 = input("두개의 정수를 입력하세요 : ").split(":") #:을 넣어서 값을 넣어야 한다.
num_01 = int(num_01)
num_02 = int(num_02)
print(num_01, num_02)

두개의 정수를 입력하세요 : 10:77
10 77

In [12]:
weight = 70
if weight > 75 :
    print("다이어트")
else :
    print("즐기세요")

즐기세요

In [14]:
trueOrFalse = True
if trueOrFalse :   # if trueOrFalse == True 처럼 쓸 필요 없음.
    print("참입니다.")
else :
    print("거짓입니다.")

참입니다.

In [15]:
money = 5000
if money >= 10000 :
    print("택시 탑승")
else :
    print("도보")

도보

In [16]:
money = 13000
if money >= 30000 :
    print("택시 탑승")
else :
    print("걸어가시오")

걸어가시오

In [17]:
money = int(input("현재 가진 현금을 입력하세요 :"))
if money >= 30000 :
    print("택시 탑승")
else :
    print("걸어가시오")

현재 가진 현금을 입력하세요 :45000
택시 탑승

In [18]:
a = int(input("첫번째 정수를 입력하시오 : "))
b = int(input("두번째 정수를 입력하시오 : "))
if a > b :
    print(a)
else :
    print(b)

첫번째 정수를 입력하시오 : 17
두번째 정수를 입력하시오 : 64
64

In [19]:
a = int(input("첫번째 정수를 입력하시오 : "))
b = int(input("두번째 정수를 입력하시오 : "))
if a > b :
    print(a)
if a == b :
    print("a와 b는 같다.")
if a < b :
    print(b)

첫번째 정수를 입력하시오 : 99
두번째 정수를 입력하시오 : 99
a와 b는 같다.

In [20]:
weight = int(input("짐의 무게는 얼마입니까?"))
if weight < 10 :
    print("짐의 무게는 %dkg이며 수수료는 없습니다."%weight)
else :
    print("짐의 무게는 %dkg이며 수수료는 %d입니다."%(weight, (weight//10)*10000))

짐의 무게는 얼마입니까?21
짐의 무게는 21kg이며 수수료는 20000입니다.

In [21]:
weight = int(input("짐의 무게는 얼마입니까?"))
if weight < 10 :
    print("짐의 무게는 %dkg이며 수수료는 없습니다."%weight)
else :
    print("짐의 무게는 %dkg이며 수수료는 %d입니다."%(weight, (weight//10)*10000))

짐의 무게는 얼마입니까?8
짐의 무게는 8kg이며 수수료는 없습니다.

In [22]:
weight = int(input("짐의 무게는 얼마입니까?"))
price = (weight//10)*10000
if weight < 10 :
    print("짐의 무게는 %dkg이며 수수료는 없습니다."%weight)
else :
    print("짐의 무게는 %dkg이며 수수료는 %d원 입니다."%(weight, price))

짐의 무게는 얼마입니까?21
짐의 무게는 21kg이며 수수료는 20000원 입니다.

In [25]:
money = 15000
talk = True
# 중첩 if 문 : 하나의 if문 아래에 다른 if문을 종속
if money >= 10000:
    print("택시 탑승")
    if talk :  # 여기도 if talk == True 처럼 적을 필요 없음
        print("대화한다")
    else :
        print("잔다")
else :
    print("도보")

택시 탑승
대화한다

In [26]:
money = 15000
talk = True
if money >= 10000 and talk:
    print("택시 탑승")
    print("대화한다")
else :
    print("도보")

택시 탑승
대화한다

In [27]:
# 비교연산자 and, or, not
A = True
B = True
C = False

if A and B :
    print("A와 B 둘다 참입니다.")
else :
    print("둘 중 하나는 거짓입니다.")

A와 B 둘다 참입니다.

In [28]:
A = True
B = False
C = False

if A or B :
    print("A와 B 둘중 하나는 참입니다.")
else :
    print("두개 다 거짓입니다.")

A와 B 둘중 하나는 참입니다.

In [39]:
A = False
B = False
C = False

if A or B :
    print("A와 B 둘중 하나는 참입니다.")
else :
    print("두개 다 거짓입니다.")

두개 다 거짓입니다.

In [42]:
if A :
    print("참입니다.")
else :
    print("거짓입니다.")

거짓입니다.

In [43]:
if not A :
    print("참입니다.")
else :
    print("거짓입니다.")

참입니다.

In [44]:
if 4 in [1,2,3,4] :
    print("리스트에 4가 있습니다.")

리스트에 4가 있습니다.

In [46]:
num_list = [1,2,3,4,5]
num_01 = 1

if num_01 in num_list :
    print(f"리스트 내에 {num_01}이 있습니다.")

리스트 내에 1이 있습니다.

In [47]:
number = int(input("숫자 하나를 입력하세요"))

if number >= 10 and number < 20 :
    print(f"{number}는 10이상이고 20미만이다.")

숫자 하나를 입력하세요15
15는 10이상이고 20미만이다.

In [50]:
number = int(input("숫자 하나를 입력하세요"))

if 10 <= number < 20 : # C언어와 달리 숫자 범위를 이렇게 표현 가능
    print(f"{number}는 10이상이고 20미만이다.")

숫자 하나를 입력하세요15
15는 10이상이고 20미만이다.

In [52]:
number = int(input("숫자 하나를 입력하세요"))

if number < 10 or number > 20 :
    print(f"{number}는 10보다 작거나 20보다 크다")

숫자 하나를 입력하세요25
25는 10보다 작거나 20보다 크다

In [53]:
# 1부터 10까지 이루어진 리스트
num_list = list(range(1,11)) #range(a,b) -> a는 이상, b는 미만
print(type(num_list), num_list)

<class 'list'> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
# 1부터 100까지 홀수로 이루어진 리스트
num_list = list(range(1, 100, 2)) #range(a,b,c) -> a는 이상, b는 미만, c는 간격
print(type(num_list), num_list)

<class 'list'> [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [56]:
num_list = list(range(1,11))
print(num_list)
a = int(input("숫자 하나를 입력하세요: "))
if a in num_list :
    place = num_list.index(a) # index 자꾸 잊어버리네. 주어진 값의 위치를 추출
    print("입력하신 숫자는 num_list[%d]에 존재합니다."%place)
else :
    print(f"해당값 {a}는 리스트에 포함되지 않았습니다.")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
숫자 하나를 입력하세요: 2150
해당값 2150는 리스트에 포함되지 않았습니다.

In [57]:
money = 20000
hungry = True

if money >= 10000 and hungry :
    print("저녁을 사먹으시오")
else :
    print("집에 가시오")

저녁을 사먹으시오

In [58]:
money = 20000
hungry = False

if money >= 10000 and hungry :
    print("저녁을 사먹으시오")
else :
    print("집에 가시오")

집에 가시오

In [59]:
num = int(input("정수를 입력하세요. "))
if num%2 == 0 :
    print("정수 %d는 짝수입니다."%num)
else :
    print("정수 %d는 홀수입니다."%num)

정수를 입력하세요. 18
정수 18는 짝수입니다.

In [60]:
# 하샤드 수 구하기(정수가 두 자리수인 경우)
num1 = int(input("정수를 입력하세요. "))
num2 = num1
sum = num2//10 + num2%10
if num1%sum == 0 :
    print("%d은 하샤드 수 입니다."%num1)
else :
    print("%d는 하샤드 수가 아닙니다."%num1)

정수를 입력하세요. 12
12은 하샤드 수 입니다.

In [66]:
# 하샤드 수 구하기(자리수 제한 없이)
num = input("정수 입력 : ") #str 문자열 형태로 받음(int 안 적음)
sum = 0

for i in num : # num 안에 각 자릿수가 들어있다. 
    sum += int(i) # str을 다시 int로 형변환해서 sum에 더한다.
    
if int(num) % sum == 0 :
    print("하샤드 수 입니다.")
else :
    print("하샤드 수가 아닙니다.")

정수 입력 : 12
하샤드 수 입니다.

In [63]:
# 바로 위에 있는 for i in num 원리
num = 'python'
for i in num :
    print(i)

p
y
t
h
o
n

In [70]:
# if만 이용하면 각각의 조건을 모두 판단
score = 100

if score > 10 :
    print("10보다 큽니다.")
if score > 20 :
    print("20보다 큽니다.")
if score > 30 :
    print("30보다 큽니다.")

10보다 큽니다.
20보다 큽니다.
30보다 큽니다.

In [71]:
# 한 번이라도 조건을 만족하면 하위 조건은 판단하지 않고 프로그램 종료
score = 100
if score > 10 :
    print("10보다 큽니다.")
elif score > 20 :
    print("20보다 큽니다.")
elif score > 30 :
    print("30보다 큽니다.")
else :
    print("10보다 작습니다.")
print("정상 종료")

10보다 큽니다.
정상 종료

In [72]:
money = 7500

if money >= 10000 :
    print("택시")
elif 10000 > money >= 2000 : # 10000 > 지워도 의미 동일(이미 앞에서 판단했으니까)
    print("버스")
elif 2000 > money >= 1000 : # 2000 > 지워도 의미 동일
    print("킥보드")
else :
    print("걸어가세요")

버스

In [73]:
money = 7500

if money >= 10000 :
    print("택시")
elif money >= 2000 : # 10000 > 지워도 의미 동일(이미 앞에서 판단했으니까)
    print("버스")
elif money >= 1000 : # 2000 > 지워도 의미 동일
    print("킥보드")
else :
    print("걸어가세요")

버스

In [75]:
jumsu = float(input("당신의 학점을 입력하세요."))
if jumsu == 4.5 :
    grade = 'A+'
elif jumsu >= 4.25 :
    grade = 'A'
elif jumsu >= 4.0 :
    grade = 'A-'
elif jumsu >= 3.75 :
    grade = 'B+'
elif jumsu >= 3.5 :
    grade = 'B'
elif jumsu >= 3.25 :
    grade = 'B-'
elif jumsu >= 3.0 :
    grade = 'C+'
elif jumsu >= 2.75 :
    grade = 'C'
elif jumsu >= 2.5 :
    grade = 'C-'
else :
    grade = 'F'
print("당신의 학점은 %s입니다."%grade)

당신의 학점을 입력하세요.3.86
당신의 학점은 B+입니다.

In [76]:
score = 95
if score >= 80 :
    print("합격")
else :
    print("불합격")

합격

In [77]:
score = 80
print("합격") if score > 80 else print("불합격") # 조건부 표현식

불합격

In [79]:
# 파이썬에서 for문 쓰는 방법.
# for A(변수) in B(리스트)
# B 안에 있는 값에 순서대로 접근. A라는 변수에 담아 실행.

In [81]:
num_list = list(range(1, 6))
for A in num_list : # num_list = [1,2,3,4,5]
                     # A = 1, 2, 3, 4, 5
        print("hello", A)
        pass

hello 1
hello 2
hello 3
hello 4
hello 5

In [82]:
# 중단점 breakpoint 사용, 디버깅

In [85]:
msg = "for 반복문 연습"
for text in msg :
    print(text)  # 문자열이 하나씩 출력된다.

f
o
r

반
복
문

연
습

In [84]:
list_cookies = ["새우깡", "홈런볼", "초코파이"]
for cookie in list_cookies :
    print(cookie)

새우깡
홈런볼
초코파이

In [86]:
# for 문 안에서 num = 0을 선언했다.
num = 0
for num in [1,2,3] : # num = 1
    print(num) #1, 2, 3
    num = 0
    print(num) # 0, 0, 0
print(num)  # 마지막에 저장한 0이 출력된다.

1
0
2
0
3
0
0

In [87]:
list_num = ["one", "two", "three"]
for num in list_num :
    print(type(num), num) # 문자열로 이루어진 값들이 들어있다.

<class 'str'> one
<class 'str'> two
<class 'str'> three

In [88]:
tuple_num = ((1,2),(3,4),(5,6))
for a,b in tuple_num :
    print(a,b)

1 2
3 4
5 6

In [89]:
for num in [1,2,3] :
    print(num) #1, 2, 3
    result = 0
    result += num
print(result) #result 부분

1
2
3
3

In [91]:
result = 0
for num in [1,2,3] : # num = 1
    result += num
print(result) #result 부분

6