In [1]:
# For문 예제를 통한 이해1(문자열)
str1 = 'for 반복문 연습'
for i in str1 :
    print(i)

f
o
r

반
복
문

연
습

In [2]:
# For문 예제를 통한 이해2(리스트)
list_cookies = ['새우깡', '홈런볼', '초코파이']
for cookie in list_cookies :
    print(cookie)

새우깡
홈런볼
초코파이

In [3]:
# 변수의 범위? 영향력 이해
a = 0
for a in [1,2,3] :
    print(a)
    a = 0
    print(a)
print(a)

1
0
2
0
3
0
0

In [4]:
# for문 예제 01(list)
list_num = ['one', 'two', 3]
for a in list_num:
    print(type(a), a)

<class 'str'> one
<class 'str'> two
<class 'int'> 3

In [5]:
# 튜플로 구성된 리스트
tupleList = [(1, 2), (3, 4), (5, 6)]
for a, b in tupleList:
    print(a + b)

3
7
11

In [10]:
# 긴 범위를 쉽게 작성할 수 있게 도와주는 range함수
for num in range(1, 101): #슬라이싱 범위와 같은 개념
    print(num, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [11]:
# For문 예제를 통한 이해(range01)
for num in range(101) :   # 0 ~ 100
    print(num)
print("=" * 50)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
==================================================

In [12]:
# For문 예제를 통한 이해(range03)
for i in range(5, 0, -1):   # 5 4 3 2 1 0
    print(i)

5
4
3
2
1

In [13]:
# 반복할 횟수만큼 돌기
count = int(input("반복할 횟수를 입력하세요:"))   # 3
for i in range(count):  # 0 1 2 => 3번
    print(i, end=' ')
print()
print("끝")

반복할 횟수를 입력하세요:3
0 1 2
끝

In [14]:
# for문 예제 02(추가적인 변수 사용법)
sum = 0
for i in range(1, 101):
# for num in range(101) :
    sum = sum + i
print(sum)

5050

In [15]:
# for문 예제 03(구구단)
number = int(input("단수를 입력하세요:"))
for i in range(1, 10):  # 1 2 3 4 5 6 7 8 9
    print(f"{number} X {i} = {number * i}")

단수를 입력하세요:6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

In [16]:
# [1 2 3 4 5 6 7 8 9] 리스트 완성하기
a = [4, 3, 5, 7, 9, 2, 1]   # 6, 8
a.sort()     # [1, 2, 3, 4, 5, 7, 9]

for i in range(9):   # 0 1 2 3 4 5 6 7 8
    if a[i] != i + 1:
        a.insert(i, i + 1)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# 최고점과 최저점을 제외하고 평균을 구하시오
scores = [8, 7, 8, 8, 9, 4, 6, 8, 10, 8]

scores.sort()
del scores[0]   # 최저점 
del scores[len(scores) - 1] # 최고점

sum = 0
for score in scores:
    sum += score

print("최고점과 최저점을 제외한 평균 점수는 %g입니다." % (sum / len(scores)))

최고점과 최저점을 제외한 평균 점수는 7.75입니다.

In [18]:
# 반복문과 제어문의 조합
# # 1 ~ 50 사이의 3의 배수만 출력하세요.
# # (1)
for i in range(1, 51):
    if i % 3 == 0:
        print(i, end=" ")
print()

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48

In [19]:
# (2)
for i in range(3, 51, 3):  # 위와 출력은 같으나 값만 같을뿐... 의미없는 과정
    print(i, end=" ")
print()

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48

In [20]:
# 1 ~ 100 사이의 7의 배수 개수를 구하세요.
count = 0
for i in range(1, 101):
    if i % 7 == 0:
        count += 1

print("7의 배수의 개수", count)

7의 배수의 개수 14

In [21]:
# for문 예제 04(and 활용)
# # 1~100사이에서 3의 배수이면서 2의 배수가 아닌 수를 한줄에 출력하고, 누적합을 출력.
num_list = range(1,101)
sum = 0

for num in num_list :
    if num % 3 ==0 and num % 2 != 0 :
        print(num, end=' ')
        sum += num
    else :
        pass
print(f"\n누적합은 {sum} 입니다.")

3 9 15 21 27 33 39 45 51 57 63 69 75 81 87 93 99
누적합은 867 입니다.

In [22]:
# for문 예제 05(for&if 조합)
list_score = [90, 25, 67, 45, 80]
no = 0
for a in list_score :
    no += 1
    if a >= 60 :
        print("{}번 학생 {}점으로 합격입니다".format(no, a))
    else :
        print("{}번 학생 {}점으로 불합격입니다".format(no, a))

1번 학생 90점으로 합격입니다
2번 학생 25점으로 불합격입니다
3번 학생 67점으로 합격입니다
4번 학생 45점으로 불합격입니다
5번 학생 80점으로 합격입니다

In [23]:
# for문 예제 06(약수 구하기)
number = int(input("수를 입력하세요:"))   # 24
for i in range(1, number + 1):
    if number % i == 0:
        print(i, end=" ")

수를 입력하세요:24
1 2 3 4 6 8 12 24

In [24]:
# continue문 기본 이해 01
for num in range(1,11) : 
    if num == 4 :
        continue
    print(f"숫자 {num}")
print("프로그램을 종료합니다.")

숫자 1
숫자 2
숫자 3
숫자 5
숫자 6
숫자 7
숫자 8
숫자 9
숫자 10
프로그램을 종료합니다.

In [25]:
# continue문 기본 이해 02
for num in range(1,11) : 
    print(f"숫자 {num}")
    continue
    # break
    print("컨티뉴 다음 문장입니다")
print("프로그램을 종료합니다.")

숫자 1
숫자 2
숫자 3
숫자 4
숫자 5
숫자 6
숫자 7
숫자 8
숫자 9
숫자 10
프로그램을 종료합니다.

In [26]:
# 3부터 50까지 3의 배수의 합을 출력하세요.
sum = 0
for i in range(3, 51): # 3 4 5 6 .... 50
    if i % 3 != 0:
        continue   # 아래 코드 수행하지 않고 조건을 보러 간다.

    # 3의 배수
    sum += i
print(sum)

408

In [27]:
# break문 기본 이해
for num in range(1,11) : 
    if num == 4 :
        print(f"숫자 {num}가 나와 종료합니다.")
        break
    print(f"숫자 {num}")
print("프로그램을 종료합니다.")

숫자 1
숫자 2
숫자 3
숫자 4가 나와 종료합니다.
프로그램을 종료합니다.

In [28]:
# for문과 continue
list_num = [90, 25, 67, 45, 80]
no = 0
for a in list_num:
    no += 1
    if a < 60:
        continue
    print("%s번 학생 %s점으로 합격입니다." %(no,a))

1번 학생 90점으로 합격입니다.
3번 학생 67점으로 합격입니다.
5번 학생 80점으로 합격입니다.

In [29]:
# 60점 이상인 학생들의 합격 문구 출력 예시(continue)
score = [66, 72, 45, 89, 31]
for i in range(len(score)) :
    if score[i] < 60 :
        continue
    print(f"{i+1}번 학생 {score[i]}점으로 합격입니다.")

1번 학생 66점으로 합격입니다.
2번 학생 72점으로 합격입니다.
4번 학생 89점으로 합격입니다.

In [30]:
# for문 예제 07(break) 가장 먼저 뽑힌 a형 고객을 선착순 1명만 찾는다고 한다고 할 때
list_blood_type = ['b', 'b', 'ab', 'a', 'b', 'a', 'b']
seq = 0
for blood in list_blood_type :
    seq += 1
    if blood == 'a' :
        print("{}번 고객님 {}형이시군요. 당첨되셨습니다.".format(seq, blood))
        break
    else :
        print("{}번 고객님 {}형이시군요. 불발입니다.".format(seq, blood))

1번 고객님 b형이시군요. 불발입니다.
2번 고객님 b형이시군요. 불발입니다.
3번 고객님 ab형이시군요. 불발입니다.
4번 고객님 a형이시군요. 당첨되셨습니다.

In [31]:
# 리스트 내포 변형 전
# # 1~100까지의 숫자중에 3의 배수를 리스트에 담은 후 해당 리스트를 print 하여라.
list_result = []
for num in range(1, 101) :
    if num % 3 == 0 :
        list_result.append(num)
print(list_result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [32]:
# for문 예제 08(리스트 내포)
# # 1~100까지의 숫자중에 3의 배수를 리스트에 담은 후 해당 리스트를 print 하여라
list_result = [num for num in range(1, 101) if num % 3 == 0]
print(list_result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [33]:
# 연습문제 dict 활용 : '메모의 마법' 책의 저자가 누구인지 출력하세요.
books_dict = {'자기계발':{'말 그릇':'김윤나', '메모의 마법':'마에다 유지'},
              '소설':{'아몬드':'손원평', '나미야 잡화점의 기적':'히가시노 게이고', '어린왕자':'생텍쥐페리'},
              '과학':{'마음의 미래':'미치오 카쿠', '시간은 흐르지 않는다':'카를로 로벨리',
                    '평행우주':'미치오 카쿠'}}

for genre in books_dict:    # 3
    books_of_genre = books_dict.get(genre)
    if '메모의 마법' in books_of_genre:
        print(books_of_genre.get('메모의 마법'))

마에다 유지

In [1]:
# 문자 타이핑 정확도 구하기
# # 정확도 공식: (일치하는 문자 수 / 전체 문자 수) * 100
text = "I love fried chicken"
input_text = input(text + "\n")

correct_count = 0
for i in range(len(text)):
    if text[i] == input_text[i]:
        correct_count += 1
ratio = (correct_count / len(text)) * 100
print("정확도: %g%%" % ratio)

I love fried chicken
I hate fried chicken
정확도: 85%

In [ ]:
# 중첩 반복문: 반복문 안에 반복문
# 바깥 반복문: 천천히 돈다. ex) 세트    
# 안쪽 반복문: 빠르게 돈다. ex) 운동 횟수

In [2]:
# 스쿼트 10회
for i in range(1, 11):
    print("스쿼트 %d회" % i)

스쿼트 1회
스쿼트 2회
스쿼트 3회
스쿼트 4회
스쿼트 5회
스쿼트 6회
스쿼트 7회
스쿼트 8회
스쿼트 9회
스쿼트 10회

In [4]:
# 스쿼트 3세트 10회씩
for i in range(1, 4):   # 1 ~ 3세트
    for j in range(1, 11):   # 1 ~ 10회
        print("%d세트:%d회차" % (i, j))

1세트:1회차
1세트:2회차
1세트:3회차
1세트:4회차
1세트:5회차
1세트:6회차
1세트:7회차
1세트:8회차
1세트:9회차
1세트:10회차
2세트:1회차
2세트:2회차
2세트:3회차
2세트:4회차
2세트:5회차
2세트:6회차
2세트:7회차
2세트:8회차
2세트:9회차
2세트:10회차
3세트:1회차
3세트:2회차
3세트:3회차
3세트:4회차
3세트:5회차
3세트:6회차
3세트:7회차
3세트:8회차
3세트:9회차
3세트:10회차

In [5]:
# 이중 for문 예제 09(구구단 출력)
for x in range(2,10) :
    for y in range(1,10) :
        print("{} * {} = {}".format(x, y, x*y))

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [6]:
# 이중 for문 예제 09(구구단 출력 - 프린트문 조작을 통해 예쁘게 출력)
for x in range(2,10) : 
    print("")
    for y in range(1,10) :
        print(f"{x} * {y} = {x*y}", end=' ')

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [7]:
# For문을 활용하여 리스트에 각종 값을 담기 01
result = []
for i in range(1, 101):
    if i % 3 == 0 :
        result.append(i)
print(result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [8]:
# For문을 활용하여 리스트에 각종 값을 담기 02
result = list()
for x in range(2,10) : 
    for y in range(1,10) :
        # result.append(f"{x}*{y}={x*y}")
        result.append(x*y)
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [9]:
# 제어문(반복문_for) list, set, dic 모두 이용한 마지막 for 예제
# # 각종 형 변환 활용가능
list_position = ['c.과장', 'b.부장', 'd.대리', 'a.사장', 'd.대리', 'c.과장']
set_position = set(list_position)
set_to_list_position = list(set_position)
set_to_list_position.sort()
print(f"중복되지 않은 직급 : {set_to_list_position}")

dic_position = {}
for position1 in set_to_list_position:
    count = 0
    for position2 in list_position:
        if position1 == position2:
            count += 1
    dic_position[position1] = count

print(f"각 직급별 인원수 : {dic_position}")

중복되지 않은 직급 : ['a.사장', 'b.부장', 'c.과장', 'd.대리']
각 직급별 인원수 : {'a.사장': 1, 'b.부장': 1, 'c.과장': 2, 'd.대리': 2}

In [10]:
# [참고]for문 내부는 이런식으로 돌아간다.
list_a = [1,2,3] 
iter_test = iter(list_a)
print(type(iter_test))
print(next(iter_test))
print(next(iter_test))
print(next(iter_test))
try :
    print(next(iter_test))
except :
    print('더이상 없습니다')

<class 'list_iterator'>
1
2
3
더이상 없습니다