In [1]:
num_01 = int(input("정수를 입력하세요"))
num_02 = str(input("문자를 입력하세요"))
print(type(num_01), num_01)
print(type(num_02), num_02)

정수를 입력하세요5
문자를 입력하세요안녕하세요
<class 'int'> 5
<class 'str'> 안녕하세요

In [3]:
word1 = input("첫번째 단어:")
word2 = input("두번째 단어:")
word3 = input("세번째 단어:")
print("===============")
print("약자:"+word1[0]+word2[0]+word3[0])

첫번째 단어:Korea
두번째 단어:Battle
세번째 단어:Oxygen
===============
약자:KBO

In [5]:
word1 = input("첫번째 단어:")
word2 = input("두번째 단어:")
word3 = input("세번째 단어:")
result = word1[0]+word2[0]+word3[0]
print("===============")
print("약자:"+result)

첫번째 단어:Korea
두번째 단어:America
세번째 단어:China
===============
약자:KAC

In [59]:
# ★복습
word1 = input("첫번째 단어:")
word2 = input("두번째 단어:")
word3 = input("세번째 단어:")
result = word1[0]+word2[0]+word3[0]
print("==============")
print("약자:"+result.upper()) # .upper()는 소문자를 대문자로 바꾼다. 
# .lower()는 대문자를 소문자로 바꾼다.

첫번째 단어:korea
두번째 단어:america
세번째 단어:china
==============
약자:KAC

In [3]:
fruit_01 = "사과"
fruit_02 = "바나나"
fruit_03 = "키위"
fruit_04 = "배"
print(fruit_01)
print(fruit_02)
print(fruit_03)
print(fruit_04)

사과
바나나
키위
배

In [4]:
list_fruit = ["사과", "바나나", "키위", "배"]
print(type(list_fruit), list_fruit)

<class 'list'> ['사과', '바나나', '키위', '배']

In [5]:
# 리스트 인덱싱
list_fruit = ["사과", "바나나", "키위", "배"]
print(list_fruit[0], list_fruit[3])

사과 배

In [7]:
#행 복사 alt + shift + 방향키
#행 삭제 alt + x

In [9]:
list_num = [1, 2, 3, 4, 5]
print(type(list_num))
print(type(list_num[0]))

<class 'list'>
<class 'int'>

In [10]:
num = [1,2,3]
num[0]+num[2]

4

In [58]:
# ★복습
# 이차원 배열
list_double = [[1, 2], [3, 4], [5, 6]]
print(list_double)
print(list_double[0])
print(list_double[0][1]) #0번째 리스트에서 1번째 리스트를 출력하는 것
print(list_double[1][1])
print(list_double[2][0])

[[1, 2], [3, 4], [5, 6]]
[1, 2]
2
4
5

In [57]:
# ★복습
list_ex1 = ['a', 'b', 'c', [1, 2, 3]]
number= list_ex1[3]
print(number)
print(list_ex1[3][0]+list_ex1[3][2]) # 이차원 배열 복습!

# 포맷팅 방법 3가지
print("%d과 %d의 덧셈 결과 : %d"%(list_ex1[3][0], list_ex1[3][2], list_ex1[3][0]+list_ex1[3][2]))
print("{}과 {}의 덧셈 결과 : {}".format(list_ex1[3][0], list_ex1[3][2], list_ex1[3][0]+list_ex1[3][2]))
print(f"{list_ex1[3][0]}과 {list_ex1[3][2]}의 덧셈 결과 : {list_ex1[3][0]+list_ex1[3][2]}") # 세 번째 포맷팅 방식 자꾸 잊어버림

[1, 2, 3]
4
1과 3의 덧셈 결과 : 4
1과 3의 덧셈 결과 : 4
1과 3의 덧셈 결과 : 4

In [21]:
list_fruit = ["사과", "바나나", "키위", "배"]
print(list_fruit[:2])

['사과', '바나나']

In [22]:
list_fruit_01 = ["사과", "바나나"]
list_fruit_02 = ["키위", "배"]
result = list_fruit_01 + list_fruit_02
print(result)

['사과', '바나나', '키위', '배']

In [23]:
num_list = [1, 2, 3]
print(num_list*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [56]:
# ★복습
#list의 size 측정
num_list = [1,2,3]
print(len(num_list))
print(len(num_list*3))

3
9

In [55]:
# ★복습
list_num = [1,3,5,7,9,10]
print("수정하기 전의 값 : ", list_num, id(list_num))
list_num[3] = 4
print("수정한 다음의 값 : ", list_num, id(list_num)) # id의 값은 바뀌지 않았다. (메모리)

수정하기 전의 값 :  [1, 3, 5, 7, 9, 10] 2350675741184
수정한 다음의 값 :  [1, 3, 5, 4, 9, 10] 2350675741184

In [31]:
msg = "I like soccer"
print(msg[0])
msg[0] = 'y' # 메시지는 수정 불가능

I

TypeError: 'str' object does not support item assignment

In [32]:
a=1
print(a, id(a))
a=2
print(a, id(a)) # id의 값이 바뀌었다. 재할당 되었다.

1 2350561192240
2 2350561192272

In [35]:
list_num = [1,3,5,7,9,10,3,3] # 원하는 숫자의 개수를 카운트한다.
print(list_num.count(3))

3

In [36]:
list_num[0:2] = [] # 리스트의 [0:2]부분의 값을 지운다.
print(list_num)

[5, 7, 9, 10, 3, 3]

In [40]:
list_num[1] = [] #list_num[1]의 값을 비운다.
print(list_num)

[5, [], 9, 10, 3, 3]

In [45]:
# .remove 리스트 값을 삭제한다.
list_num = [0,3,5,7,9,10,3,3]
list_num.remove(0)
print(list_num)

[3, 5, 7, 9, 10, 3, 3]

In [46]:
# .append 새로운 리스트 값을 추가한다.
list_number = ["one", "two", "three", "four", "five"]
list_number.append("six")
print(list_number)

['one', 'two', 'three', 'four', 'five', 'six']

In [47]:
list_num = [1, 3, 5, 7, 9, 11]
list_num.append("num")
print(list_num)

[1, 3, 5, 7, 9, 11, 'num']

In [48]:
list_num.append([2,4,6,8])
print(list_num)
list_num.insert(0,0) # 0번째 위치에 0을 추가한다.
print(list_num)

[1, 3, 5, 7, 9, 11, 'num', [2, 4, 6, 8]]
[0, 1, 3, 5, 7, 9, 11, 'num', [2, 4, 6, 8]]

In [49]:
# ★복습
list_num = [4,7,3,1,2,9]
list_num.sort() # 오름차순으로 바뀐다.
print(list_num)

[1, 2, 3, 4, 7, 9]

In [50]:
# ★복습
# .reverse 리스트 순서를 거꾸로
list_num = [4,7,3,1,2,9]
list_num.reverse()
print(list_num)

[9, 2, 1, 3, 7, 4]

In [51]:
list_num.sort(reverse=True) # hidden인자로 True 입력 -> 내림차순으로 만든다. 기본적으로 reverse=False로 되어있는 것.
print(list_num)

[9, 7, 4, 3, 2, 1]

In [52]:
# sep=" " 콤마를 원하는 문자나 공백으로 대체
print(1,2,3,4,5, sep=":")

1:2:3:4:5

In [53]:
# ★복습
list_lang = ['banana', 'cat', 'egg', 'apple', 'door']
list_lang.sort(reverse=True) # 내림차순 정렬 # 커서를 가져갔을 때 None으로 출력
print(list_lang)

['egg', 'door', 'cat', 'banana', 'apple']

In [61]:
print(list_lang.index('cat')) #'cat'은 리스트에서 몇 번째 문자인지 위치 반환
print(list_lang.index('cds')) # 없는 것을 indexing 하면 에러

2

ValueError: 'cds' is not in list

In [64]:
# ★복습
list_lang = ['banana', 'cat', 'egg', 'apple', 'door']
print(list_lang.pop()) #pop: 리스트 중 마지막 요소만 끄집어내고 나머지만 남겨라
print(list_lang)

door
['banana', 'cat', 'egg', 'apple']

In [66]:
msg = "python is fun"
print(msg.split())

['python', 'is', 'fun']

In [67]:
# 튜플에 값이 하나일 때는 콤마를 꼭 적어야 한다.
a = (1,)
print(a)

(1,)

In [69]:
tuple_test = ()
print(type(tuple_test), tuple_test)

<class 'tuple'> ()

In [70]:
tuple_test = (1, )
print(type(tuple_test), tuple_test)

<class 'tuple'> (1,)

In [71]:
tuple_test = (1, 2, 'a', 'b')
print(type(tuple_test), tuple_test)

<class 'tuple'> (1, 2, 'a', 'b')

In [73]:
tuple_test[0] = 10 # 튜플의 값 변경 불가능
print(type(tuple_test), tuple_test)

TypeError: 'tuple' object does not support item assignment

In [75]:
del tuple_test[2] # 튜플의 값 삭제 불가능
print(type(tuple_test), tuple_test)

TypeError: 'tuple' object doesn't support item deletion

In [78]:
print(tuple_test[0], tuple_test[1]) # 튜플의 값 인덱싱 가능
print(tuple_test[0:3]) # 튜플의 값 슬라이싱 가능

1 2
(1, 2, 'a')

In [80]:
tuple_test_01 = (1,2)
tuple_test_02 = ('a','b')
print(tuple_test_01 + tuple_test_02) # 튜플의 더하기 가능

(1, 2, 'a', 'b')

In [81]:
# *: 곱하기, /: 나누기, //: 몫, %: 나머지

In [82]:
(m,n) = divmod(100,3)
print(m) # 몫
print(n) # 나머지
print("몫은 %d이고, 나머지는 %d이다." %(m,n))

33
1
몫은 33이고, 나머지는 1이다.

In [85]:
# ★ 복습
result = divmod(100,3)
print(result)
print("몫은 %d이고, 나머지는 %d이다." %result)

(33, 1)
몫은 33이고, 나머지는 1이다.

In [4]:
dict_profile = {"name":"메가스터디", "address":"강남", "type":"python","floor":4}

print(type(dict_profile), dict_profile)
print(dict_profile["name"])

dict_profile["python"] = "010-0000-1111"
print(type(dict_profile), dict_profile)

dict_profile["address"] = "신촌"
print(type(dict_profile), dict_profile)

del dict_profile["address"]
print(type(dict_profile), dict_profile)

dict_profile.pop("floor")
print(type(dict_profile), dict_profile)

dict_profile.clear()
print(type(dict_profile), dict_profile)

<class 'dict'> {'name': '메가스터디', 'address': '강남', 'type': 'python', 'floor': 4}
메가스터디
<class 'dict'> {'name': '메가스터디', 'address': '강남', 'type': 'python', 'floor': 4, 'python': '010-0000-1111'}
<class 'dict'> {'name': '메가스터디', 'address': '신촌', 'type': 'python', 'floor': 4, 'python': '010-0000-1111'}
<class 'dict'> {'name': '메가스터디', 'type': 'python', 'floor': 4, 'python': '010-0000-1111'}
<class 'dict'> {'name': '메가스터디', 'type': 'python', 'python': '010-0000-1111'}
<class 'dict'> {}

In [10]:
le = {'name':"메가스터디", "address":"강남", "type":"python", "floor":4, 'name':"삼성전자"}
print(le['name'])

삼성전자

In [12]:
dic_01 = {'a':1, 'b':2, 'c':3}
dic_02 = {'a':10, 'd':4, 'e':5}
print(dic_01, dic_02)
print(dic_01.update(dic_02))
print(dic_01)

{'a': 1, 'b': 2, 'c': 3} {'a': 10, 'd': 4, 'e': 5}
None
{'a': 10, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [13]:
# key 값만 추출
keys = dic_01.keys()
print(type(keys), keys)
list_keys = list(keys)
print(list_keys)

<class 'dict_keys'> dict_keys(['a', 'b', 'c', 'd', 'e'])
['a', 'b', 'c', 'd', 'e']

In [14]:
# value 값만 추출
values = dic_01.values()
print(type(values), values)
list_values = list(values)
print(list_values)

<class 'dict_values'> dict_values([10, 2, 3, 4, 5])
[10, 2, 3, 4, 5]

In [20]:
book_dict = {"도서1":"작가1","도서2":"작가2", "도서3":"작가3"}
result = input("찾고자 하는 작가의 도서명을 입력하세요 ")
print(book_dict[result])
book_01 = input("입력하실 도서명을 입력하세요 ")
writer_01 = input("입력하실 작가명을 입력하세요 ")

book_dict[book_01] = writer_01
print(book_dict) # 집 가서 오류 찾아보기

찾고자 하는 작가의 도서명을 입력하세요 도서1
작가1
입력하실 도서명을 입력하세요 도서1
입력하실 작가명을 입력하세요 작가1
{'도서1': '작가1', '도서2': '작가2', '도서3': '작가3'}

In [24]:
set_01 = {1,2,3,1,2,3,1} # set으로 중복 제거
list_num = [1,2,3,1,2,3,1]
print(type(set_01), set_01)
print(set(list_num))

set_num_list = list(list_num)
print(set_num_list)
print(set_num_list.pop()) # 마지막에 있는 1만 끄집어내고, 나머지는 남겼다.
print(set_num_list) # 마지막에 있던 1이 사라진 걸 알 수 있다.

<class 'set'> {1, 2, 3}
{1, 2, 3}
[1, 2, 3, 1, 2, 3, 1]
1
[1, 2, 3, 1, 2, 3]

In [1]:
set_01 = {1,2,3,4,5}
set_02 = {4,5,6,7,8}
set_union = set_01 | set_02

print("합집합 : ", set_01 | set_02)
print("합집합 : ", set_01.union(set_02))
print("합집합 : ", set_union)

합집합 :  {1, 2, 3, 4, 5, 6, 7, 8}
합집합 :  {1, 2, 3, 4, 5, 6, 7, 8}
합집합 :  {1, 2, 3, 4, 5, 6, 7, 8}

In [2]:
set_inter = set_01 & set_02
print("교집합1 : ", set_01 & set_02)
print("교집합2 : ", set_01.intersection(set_02))
print("교집합3 : ", set_inter)

교집합1 :  {4, 5}
교집합2 :  {4, 5}
교집합3 :  {4, 5}

In [1]:
set_01 = {1,2,3,4,5}
set_02 = {4,5,6,7,8}
list_01 = list(set_01)
list_02 = list(set_02)
list_result = []

for x in list_01 :
    for y in list_02 :
        if( x == y ) : # x와 y가 같으면 list_result에 넣는다.
            list_result.append(x)
print(list_result)

[4, 5]

In [2]:
set_01 = {1,2,3,4,5}
set_02 = {4,5,6,7,8}
print("차집합1 : ", set_01-set_02)
print("차집합2 : ", set_01.difference(set_02))

차집합1 :  {1, 2, 3}
차집합2 :  {1, 2, 3}

In [4]:
set_01 = {1,2,3,4,5}
set_02 = {4,5,6,7,8}
set_01.add(6)
set_01.update({7,8,9})
print(set_01)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [5]:
set_01.remove(10) # set에 없는 값을 지우라고 하면 에러
print(set_01)

KeyError: 10

In [7]:
photo = {"사람1", "사람2", "사람3", "사람4"}
dance = {"사람1", "사람7", "사람9", "사람10"}
sing = {"사람2", "사람3", "사람5", "사람6"}

result_union = photo | dance | sing
list_result = list(result_union)
print(photo | dance | sing)
list_result.sort()
print(list_result) # 왜 사람10 이 가장 뒤로 가지 않지?

{'사람3', '사람10', '사람5', '사람2', '사람4', '사람6', '사람1', '사람9', '사람7'}
['사람1', '사람10', '사람2', '사람3', '사람4', '사람5', '사람6', '사람7', '사람9']

In [8]:
# 불(True or False 판단)
print(bool("python"))
print(bool(""))
print(bool([1,2,3]))
print(bool([]))
print(bool(12))
print(bool(0))

True
False
True
False
True
False

In [9]:
# 자료형 타입을 함께 출력
trueOrFalse = True
print(type(trueOrFalse), trueOrFalse)

<class 'bool'> True

In [10]:
a = True
b = False
c = True

print(a and b)
print(a and c)
print(a or b)

False
True
True

In [11]:
word = "python"
if word : # word에 값이 들어 있어서 참으로 간주되어 출력된다.
    print(word)

python

In [13]:
a = 3
b = 4
if(a>b) :
    print("참")

In [14]:
a = 3
b = 4
if(a<b) :
    print("참")

참